body {
    font-family: Arial, sans-serif;
    margin-left: 400px;    padding: 20px;
    background-color: #b5a2e8;
    text-align: center;
  }
  
  .container {
    max-width: 30px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a52d2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    
   margin-right: 330px;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
    
  }
  
  td {
    border:1px solid black;
    padding: 8px;
    vertical-align: top;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 80%;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  